beautifulsoup4==4.10.0
certifi==2020.6.20
click==8.0.3
colorama==0.4.4
dataclasses==0.8
Flask==2.0.2
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.2.0
numexpr==2.7.3
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.5.4
soupsieve==2.3.1
tables==3.6.1
threadpoolctl==3.0.0
typing-extensions==4.0.1
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
